{% load i18n %}

<div class="custom-area">

    {{ textarea_widget }}

    <div class="toolbar">
        <div class="toolbar-item view">
            {% comment %} <a class="view-tab">Edit</a> {% endcomment %}
            {% comment %} <a class="view-tab">预展</a> {% endcomment %}
            <a class="view-size">Fullscreen</a>
            {% comment %} <a class="view-divide">Divide</a> {% endcomment %}
        </div>

        {% comment %} <div class="toolbar-item shortcuts">
            <a class="bold">Bold</a>
            <a class="italic">Italic</a>
            <a class="underline">Underline</a>
            <a class="line-between">分隔线</a>
            <a class="code">Code block</a>
        </div>{% endcomment %}
    </div> 
    <div class="content">
        <div id="editor-id" class="content-item"></div>
        <div id="preview-id" class="content-item markdown-body"></div>
    </div>

</div>
